# Dive into Python. Part I




**Agenda:**

    * intro
    * types
    * conditional statements
    * loops and generators

# Intro 

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/2000px-Python_logo_and_wordmark.svg.png" width="200" height="200" />

Python is an interpreted high-level programming language for general-purpose programming. Created by Guido van Rossum and first released in 1991.

Python features a dynamic type system and automatic memory management. It supports multiple programming paradigms, including object-oriented, imperative, functional and procedural, and has a large and comprehensive standard library.

https://www.python.org/

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Types and data structures

## Numbers [Types]

In [1]:
1 + 1

2

In [2]:
type(1) # int

int

In [2]:
1.0 + 1.2

2.2

In [3]:
type(1.0) # float

float

In [4]:
17 / 3  # int / int -> float

5.666666666666667

In [5]:
17 // 3  # explicit floor division discards the fractional part

5

In [6]:
17 % 3  # the % operator returns the remainder of the division

2

In [3]:
5 * 5

25

In [7]:
5 ** 2  # 5 squared

25

In [8]:
2 ** 7  # 2 to the power of 7

128

In [9]:
(1 + 2) ** 7  # 3 to the power of 7

2187

In [10]:
12 ** 0.5

3.4641016151377544

### Exercise:
When x is 12, mean is 3 and std is 7,
what is the Z-score of value x?

$$ z = \frac{ x - \mu }{ \sigma }$$

In [11]:
1.0 * (12 - 3) / 7

1.2857142857142858

## Strings [Types]

In [12]:
'hello world'

'hello world'

In [4]:
"hello world"

'hello world'

In [13]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [14]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [15]:
'"Yes," he said.'

'"Yes," he said.'

In [16]:
"\"Yes,\" he said."

'"Yes," he said.'

### Exercise:
How would you write this string?

"Isn't," she said.

In [17]:
'"Isn\'t," she said.'

'"Isn\'t," she said.'

### Built-in functions we will be using:

**print(msg)** - prints msg into output

**len(array)** - gets length of string/array etc.

**type(var)** - returns type of variable var

**id(obj)** - return the “identity” of an object. In CPython it is address in the memory.

In [5]:
s = 'First line.\nSecond line.'

In [18]:
s = 'First line.\nSecond line.'  # \n means newline
s  # without print, \n is included in the output

'First line.\nSecond line.'

In [19]:
print(s)  # with print, \n produces a new line

First line.
Second line.

### Escape sequencies:

| Escape Sequence | Meaning   |
|------|------|
|   \\  | Backslash (\)|
|   \'  | Single quote (')|
|   \"  | Double quote (")|
|   \a  | ASCII Bell (BEL)|
|   \b  | ASCII Backspace (BS)|
|   \f  | ASCII Formfeed (FF) |
|   \n  | ASCII Linefeed (LF) |
|   \r  | ASCII Carriage Return (CR) |
|   \t  | ASCII Horizontal Tab (TAB) |
|   \v  | ASCII Vertical Tab (VT) |
|   \ooo  | ASCII character with octal value ooo |
|  \xhh  | ASCII character with hex value hh... |

In [20]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [21]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [22]:
# preformatted strings
# produces the following output 
# (note that the initial newline is not included):
print("""
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [23]:
print("a\n\tb\n\t\tc")

a
	b
		c

In [6]:
'Py' + 'thon'  # concatenate

'Python'

In [25]:
prefix = 'Py'
prefix + 'thon'

'Python'

In [26]:
'om' + 3 * 'nom'

'omnomnomnom'

In [27]:
a = "1"
type(a)

str

In [28]:
a = "1"
b = 5
print(a + b)  # Error

TypeError: Can't convert 'int' object to str implicitly

In [7]:
a = "1"
b = 5
print(int(a)+b)

6

In [29]:
a = "1"
b = 5
print(a + str(b))

15

### Exercise:
When x is 12, mean is 3 and std is 7,
how would you calculate Z-score of value x now (using variables)...?

$$ z = \frac{ x - \mu }{ \sigma } $$

In [9]:
word = "Python"  # index starts with zero

In [10]:
len(word)

6

 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
   0   1   2   3   4   5   6
  -6  -5  -4  -3  -2  -1

In [31]:
word[6]  # <-- Error!

IndexError: string index out of range

In [11]:
word[2:5]

'tho'

In [12]:
word[2:]

'thon'

In [32]:
word[:-2]

'Pyth'

## Lists [Types]

In [35]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [36]:
squares[0]  # indexing returns the item

1

In [37]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [40]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3

64

In [41]:
cubes[3] = 64

In [42]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [43]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [44]:
# replace some values
letters[2:3] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'd', 'e', 'f', 'g']

In [45]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'd', 'e', 'f', 'g']

In [46]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [47]:
# The built-in function len() also applies to lists
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [13]:
# It is possible to nest lists (create lists containing other lists), for example:
a = ['a', 'b', 'c']
b = [1, 2, 3]
x = [a, b]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [49]:
x[0]

['a', 'b', 'c']

In [50]:
x[0][1]

'b'

In [51]:
a_list = [1,2,3,"this is a string",5.3]
b_list = ["A","B","F","G","d","x","c",a_list,3]
print(b_list)

['A', 'B', 'F', 'G', 'd', 'x', 'c', [1, 2, 3, 'this is a string', 5.3], 3]

In [52]:
a = [1,2,3,4,5,6,7]
a.insert(0, 6)
a

[6, 1, 2, 3, 4, 5, 6, 7]

In [53]:
a.append(8)
a

[6, 1, 2, 3, 4, 5, 6, 7, 8]

In [54]:
a.reverse()
a

[8, 7, 6, 5, 4, 3, 2, 1, 6]

In [55]:
a.sort()
a

[1, 2, 3, 4, 5, 6, 6, 7, 8]

In [56]:
a.pop()
a

[1, 2, 3, 4, 5, 6, 6, 7]

In [57]:
a.remove(3)
a

[1, 2, 4, 5, 6, 6, 7]

Using list and `join` function is easy to concatenate everything:

In [119]:
' '.join(['Hello', 'world', '!'])

'Hello world !'

## Other data structures

### Tuples

In [59]:
# Tuples are like lists with one very important difference. Tuples are not changeable.
a = (1,2,3,4)
b = tuple([5,6])
print(a)

(1, 2, 3, 4)

In [60]:
a[1] = 2  # <-- Error

TypeError: 'tuple' object does not support item assignment

In [61]:
# to modyfy tuple you need to create new one
a = (1,"string in a tuple",5.3)
b = (a,1,2,3)
print(a)
print(b)

(1, 'string in a tuple', 5.3)
((1, 'string in a tuple', 5.3), 1, 2, 3)

In [14]:
# One other handy feature of tuples is known as ‘tuple unpacking’. 
# Essentially, this means we can assign the values of a tuple to a list of variable names, like so:

my_pets = ("Chestnut", "Tibbs", "Dash", "Bast")
aussie, b_collie, indoor_cat, outdoor_cat = my_pets
print(aussie)
cats = (indoor_cat, outdoor_cat)
print(cats)

Chestnut
('Dash', 'Bast')

## Dictionaries (associative arrays)

In [63]:
d = {
    "key": 1, 
    "key1": 2
}

In [64]:
d = {
    "a1":1, 
    "foo":11, 
    "c": {
        "a":1, 
        "b":11
    }
}
d["a1"]

1

In [65]:
d['c']['a']

1

## Sets

In [104]:
s = set([1, 2, 1, 3, 5, 6, 7, 5, 5])  # collection distinct objects
s

{1, 2, 3, 5, 6, 7}

In [106]:
s.add(10)
s

{1, 2, 3, 5, 6, 7, 10}

## Mutable and immutable

Mutable data structures:

- dict
- set
- list

Immutable data structures:

- tuple
- string
- numbers

# Functions

Whitespaces is significant part of the language. In Python a block is delimited by indentation. There's no brackets or parentheses to match up just indents. And so these two functions, main and message, they have blocks which are associated with them and that's the code that comprises the body of the function. And you notice that they're indented under the definition of the function, the function declaration, the function definition.

In [67]:
def my_function():
    print("Hello world")  # <-- start a block function

my_function()

Hello world

In [68]:
def my_function():
        print("Hello world")
    print("Hello world")  # <-- Error

my_function()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [69]:
def my_function():
    print("Hello world")  # <-- start a block function  <-- THIS IS COMMENT

my_function()

Hello world

In [70]:
def my_function2(s):
    print(s)
    

my_function2("Hi World")

Hi World

In [71]:
def add_two_numbers(a, b):
    return a+b

a = add_two_numbers
a(2,2)

4

In [72]:
def add_two_numbers(a, b):
    """Function is adding 2 input arguments
    """
    return a+b

add_two_numbers(2,3)

5

### Built-in functions we will be using:

**help(f)** - print documentation of f

In [73]:
add_two_numbers.__doc__

'Function is adding 2 input arguments\n    '

In [74]:
help(add_two_numbers)

Help on function add_two_numbers in module __main__:

add_two_numbers(a, b)
    Function is adding 2 input arguments

### Exercise:
write function which returns z score
- x=1
- mean=2
- std=3

```python
def zscore(x, mean, std):
    ....
```
$$ z = \frac{ x - \mu }{ \sigma }$$

In [75]:
zscore(1,2)

NameError: name 'zscore' is not defined

In [76]:
zscore(x=1, mean=2, std=3)

NameError: name 'zscore' is not defined

In [77]:
zscore(1, mean=2, std=3)

NameError: name 'zscore' is not defined

In [78]:
zscore(1,std=3, mean=2)

NameError: name 'zscore' is not defined

In [79]:
def zscore(x, mean, std=5):
    """Function calculates z score
    """
    return 1.0 * (x - mean) / std

zscore(1,std=3, mean=2)

-0.3333333333333333

### Exercise:
write function which returns z score for list of numbers:

0, 1, 1, 2, 3, 5, 8, 13


$$ z = \frac{ x - \mu }{ \sigma }$$

# Loops and Iterators

Like most languages, Python also has a FOR-loop which is the most widely used method for iteration. It has a simple syntax:

In [80]:
for i in [1,2,3,4,5]:  # <-- object need to be iterable
    print(i)

1
2
3
4
5

In [81]:
for i in range(6):  # <-- `range` returns element every time loop asking about next element
    print(i)

0
1
2
3
4
5

`list` and `range` is different in a way they storing elements in memory. `list` - stored all elements it consist of, `range` - computes next element every time it is asked to do so.

In [121]:
a = [2, "aaa", [1,2,3]]  # <-- list stored elements of any time
for i in range(len(a)):
    print(i, a[i])

0 2
1 aaa
2 [1, 2, 3]

In [122]:
for i in range(1,5):
    i = i + i
i

8

In [86]:
a = 0
for i in range(1,5):
    a += 1

### Exercise:
Write a Python program to construct the pattern, using a for loop.

In [87]:
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

SyntaxError: invalid syntax (<ipython-input-87-fe62e6fde7e8>, line 1)

In [88]:
for i in range(1,6):
    print(i * '* ')

for i in range(4,0, -1):
    print(i * '* ')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [89]:
n=5;
a = ''
for i in range(n):
    a += '* '
    print(a)

for i in range(len(a)-2,0,-2):
    a = a[:i]
    print(a)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### Exercise:
write function __sum(v)__ which calculates a total sum of list of numbers.

v = [0, 1, 1, 2, 3, 5, 8, 13]

### Exercise:
write 3 functions 
- function __mean(v)__ calculates mean of list of numbers.

$$ \mu = \frac{1}{N} (x_1+...+x_N) $$ 


- function __std(v)__ calculates standard deviation of list.

v = [0, 1, 1, 2, 3, 5, 8, 13]

- variance:

$$ var = \frac{1}{N} \sum_{i=1}^N (x_i - \mu)^2 $$



$$ var = \frac{1}{N} [(x_1 - \mu)^2 + (x_2 - \mu)^2 + ... +(x_N - \mu)^2] $$



- standard deviation:

$$ \sigma = \sqrt{var} $$

In [90]:
def mean(v):
    a = 0
    for x in v:
        a = a+x
    m = a/float(len(v))
    return m

def std(v):
    m = mean(v)
    a = 0
    for x in v:
        a = a + ((x - m) ** 2)
    var = a / float(len(v))
    return var ** 0.5

# Conditional statements and boolean

In [91]:
a = 20
if a >= 22:
    print("if")
elif a >= 22:
    print("elif")
else:
    print("else")

else

In [92]:
a >= 21

False

In [93]:
type(a >= 21)

bool

In [94]:
type(True)

bool

In [95]:
True & False

False

In [96]:
True & True

True

In [97]:
True | False

True

In [98]:
True | (True & False)

True

In [99]:
a = 20

(a > -5) & (a >= 21)

False

In [100]:
(2==3) == ( 2 is 3)

True

In [101]:
(2 != 3) == (2 is not 3)

True

### Exercise:
Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1900 and 2100 (both included).

In [102]:
nl=[]
for x in range(1900, 2101):
    if (x % 7 == 0) and (x % 5 == 0):
        nl.append(str(x))
print(nl)

['1925', '1960', '1995', '2030', '2065', '2100']

# Summary:

What we not covered:
- decorators
- bytes
- I/O functions
- file operations